.stepItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 16px;
}

.label {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #222222;
  line-height: 1.5;
  white-space: nowrap;
}

.labelActive {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #222222;
  line-height: 1.5;
  white-space: nowrap;
}

.line {
  width: 1px;
  height: 30px;
  background-color: #E6E8EC;
  margin-left: 12px;
}
